.center {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 60px;
}

.main {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

a {
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 165, 153, 1);
    display: block;
    transition: 0.3s;
    animation: main 1.5s linear;
}

.link {
    width: 110px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0, 165, 153, 0.4), 0 17px 50px 0 rgba(0, 165, 153, 0.4);
}

@keyframes main {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}