.wrapper {
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 30px;
    padding-bottom: 10px;
    width: 200px;
    height: 100%;
    border: 1px solid;
}

.ul {
    list-style: none;
    padding-left: 0px;
    width: 100px;
}

.li {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; 
    font-size: 16px;   
}

.crossBtn {
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
}